@{
    ViewBag.Title = "About";
}


<div class="row">
    <div class="col-md-6">
        <h2>O'zbekcha instrukciya</h2>
        Qollash usuli: Losyon kuniga 2 marta, ertalab va kechqurun,
        har biri 0,5 ml dan, toza yuvilgan terga, pipetka  yordamida
        terining istalgan joyiga surtiladi. Qollashdan oldin flakonni chayqab oling.
        Asosiy shart – qo’llashdan keyin 5-6 soat ichida faol moddani yuvilmasin.
        Soqol moshinka bilan olinadi!

        Saqlash:  Harorati  25° dan past bo'lmagan joyda saqlanilsin
    </div>
    <div class="col-md-6">
        <h2>Инструкция по применению на русском.</h2>
        Способ применения: лосьон наносится пипеткой на любую
        часть кожи 2 раза в день утром и вечером по 0,5 мл на 
        чистую промытую кожу КАЖДЫЙ ДЕНЬ БЕЗ ПРОПУСКОВ. 
        Встряхните флакон перед использованием. 
        Главное условие - активное вещество НЕ СМЫВАЙТЕ в течение 5-6 часов после использования.
        Бороду стричь только  машинкой!

        Хранение: хранить при температуре не ниже 25 °
        
    </div>

</div>
    
    
