@{
    ViewBag.Title = "Contact";
}
<h2>
    Звоните по телефону:
    <a href="tel:+998909729173">+998909729173</a>
</h2>
<h2>
    Или пишите в телеграм :
    <a href="https://t.me/hydrashop_admin">@@hydrashop_admin</a>
</h2>
 

