@{
    ViewBag.Title = " Minoxidil 5%";
}
<h3>@ViewBag.Message</h3>


<div class="container">
    <div class="row justify-content-md-center">
        <h2>
            1шт = 99000 сум.
        </h2>
    </div>
    <div class="row justify-content-md-center">
        <h2>
            2шт = 2 * 95000 сум.
        </h2>
    </div>
    <div class="row justify-content-md-center">
        <h2>
            3шт = 3 * 90000 сум.
        </h2>
    </div>
    <div class="row justify-content-md-center">
        <h2>
            4шт = 4 * 85000 сум.
        </h2>
    </div>
    <div class="row justify-content-md-center">
        <h2>
            Доставка = 15000 сум.
        </h2>
    </div>
</div>


